.contact h3 {
    margin: 40px;
    font-size: large;
}
.contact p {
    margin-left: 40px;
    margin-top: -20px;
    color: blue;
    cursor: pointer;
    font-size: large;
}
.contact h4{
    margin-left: 40px;
    margin-top: -20px;
    color: blue;
    font-size: x-large;
}

.socialmedia-contaqt img{
    margin-left: 40px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
}
@media (max-width: 700px){
    .contact p, .contact h4 {
        font-size: 17px;
    }
    .socialmedia-contaqt img{
        width: 80px;
        height: 80px;
    }
}