.completeprojept-menu  h1  {
    
        font-size: xx-large;
        align-items: center;
        border-radius: 50px;
        margin-top: 100px;
        justify-content: center;
        margin: auto;
        text-align: center;
        color: rgb(19, 155, 218);
        display: flex;
        justify-content: center;
}
    


.completeprojept{
    display: flex;
     width: 100%;
     flex-wrap: wrap;
     margin-top: 100px;
     justify-content: center;
     margin-top: 100px;
}

.completeprojept img div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
   
}

.completeprojept img{
    height: 650px;
    width: 760px;
    margin: 30px;
    border-radius: 20px;
}
.completeprojept div{
    flex-grow: 40%;
}
.completeprojept p{
    margin: 30px;
    margin-left: 30px;
    margin-top: -10px;
    font-size: x-large;

}

.agaraki{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    margin-top: 50px;
}
.agaraki img div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
   
}

.agaraki img{
    margin: 30px;
    border-radius: 40px;
}
.agaraki div{
    flex-grow: 40%;
}
.agaraki p{
    margin: 30px;
    margin-left: 30px;
    margin-top: -10px;
    font-size: x-large;
}
.agaraki img{
    width: 450px;
    height: 300px;
    margin-top: 30px;
}


@media (max-width: 700px){
    .completeprojept img{
        height: 300px;
        width: 330px;
        margin: 20px;
    }
    .green img{
        height: 300px;
        width: 330px;
        margin: 20px;
        margin-left: 30px;
    }
    .agaraki img{
        height: 300px;
        width: 330px;
        margin: 20px;
        margin-left: 30px;
    }
    .agaraki p{
        margin-left: 40px;
        
        font-size: large;
     }
}