*{
 margin: 0;
 padding: 0;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Main {
 width: 10%;
 height: 50vh;
}
video {
 width: 93%;
 height: 540px;
 object-fit: cover;
 margin: 10px;
 margin-left: 50px;
 justify-content: center;
 align-items: center;
 position: relative;
 z-index: -2;
 
}
video, table {
filter: brightness(150%);

}
.content, h1 {
justify-content: center;
align-items: center;
color: rgb(0, 0, 0);
text-align: center;
margin-top: 20px;

}

table{
  color: #ffffff;
  margin-top: -70px;
  align-items: center;
  z-index:initial;
  text-decoration: solid;
  font-size:xx-large;
  margin-left: 70px;
  
}
button {
box-sizing: border-box;
border-style: groove;
color: rgb(255, 255, 255);
background-color: rgb(2, 80, 37);
width: 420px;
height: 150px;
border-radius: 50px;
border: none;
margin-top: 30px;
cursor: pointer;
text-decoration: none;
font-size: large;
}
:hover button{
  background-color: gray;
}
.menu,a {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
 text-decoration: none;
 color: rgb(8, 8, 8);
 font-size: x-large;
 margin-top: 60px;
}
.container {
background-color: blue;
}

@media (max-width: 700px){
   video{
    width: 85%;
    height: 320px;
    margin: 10px;
    margin-left: 40px;
  }
  table{
    margin-top: -83px;
    font-size: 17px;
    margin-left: 41px;
  }
  button{
    font-size: 20px;
    margin-left: -1px;
    width: 350px;
    height: 150px;
  }
}

body{
  width: 100vw;
  overflow-x: hidden;

}